<html>
    <head>
        <title>O financeiro do seu dia</title>
    </head>
    <body>
        <div>
        <h1><a href="/">Django Girls Blog</a></h1>
        </div>
            {% for post in posts %}
                <div>
                <h3><a href="">{{ post.descricao }}</a></h3>
                <p>Data: {{ post.data }}</p>
                <p>Tipo: {{ post.tipo_transacao}}
                <p>Valor: <b>{{ post.valor|linebreaksbr }}</p></b>
                </div>
            {% endfor %}
    </body>
</html>